    
/*
 * Base structure
 */

body{
    height: 100%;
    width: 100%;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    font-weight: 900;
    background-image: url(../images/Meteor-Galaxy.png);
    background-attachment: fixed;
    background-size: cover;
}

.changeable{
    color: #15f5ff;
}


.lead{
    opacity: 0;
      -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}

.lead.visible{
    opacity: 1;
}

/*
 * Footer
 */


h3{
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #999;
}

.about-section{
    color: black;
    text-shadow: none;
    background-color: white;
    padding: 20px 50px;
}

.face-image{
    width: 100%;
    text-align: center;
}

.works{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer{
    clear: both;
    background-color: #333;
    color: #15f5ff;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

#click{
    border-color: #343d46;
    color: white;
    font-size: 20px;
    font-weight: 500;
    transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -webkit-transition: 0.2s ease-in;
    overflow:hidden;
    background: none;
    z-index: 1;
}

#click:hover{
    cursor: pointer;
    border-color: #343d46;
    color: #15f5ff;
}

.visited{   
    cursor: pointer;
    border-color: #343d46;
    color: #15f5ff;
}

@media screen and (max-width: 1600px) {
    .header {
        background-color: #333;
        background-image: none;
    }
}

