    
/*
 * Base structure
 */

body{
    height: 100%;
    width: 100%;
    background-color: #FFFDFB;
}

.centered{
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
}

.menu {
    margin: auto;
}

.menu-links {
    margin: auto;
}

.menu-links .menu-link {
    color: rgba(8, 129, 163, 0.8);
}

.links {
    order: 2;
    padding: 0;
    text-align: center;
    list-style: none;
    display: inline-flex;

}

.menu-link {
    text-decoration: none;
    font-family: 'Open Sans';
    font-weight: bold;
    color: #0881A3;
    transition: 0.23s ease-in;
    border-radius: 5px;
    margin-right: 10px;
    letter-spacing: 1px;
    padding: 5px;
}

.menu-link:hover{
    background-color: #FFFDFB;
    color: #FFD6A4;
}

.profile {
    margin: auto;
    padding-top: 50px;
    order: 2;
    width: 50%;
    text-align: center;
}

.pure-img {
    margin: inherit;
    border-radius: 200px;
    height: 15em;
    width: 15em;
}

.name {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    letter-spacing: 1.5px;
}

.tagline {
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-weight: lighter;
    font-size: 1rem;
    letter-spacing: 1px;
}

.large{
    font-size: 25px !important;
}

.home {
    margin: auto;
    margin-top: 50%;
}

@media screen and (max-width: 525px) {
    .links{
        display: flex;
        flex-direction: column;
    }
}

